<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> <span class="displayText">Home</span>
            </NavLink>
        </li>
    </ul>
    <div class="separator"></div>
    <div class="scroller">
        <ul class="nav flex-column">
            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link">
                            <span class="oi oi-person" aria-hidden="true"></span><span class="displayText">@context.User?.Identity?.Name</span> 
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="users/logout">
                            <span class="oi oi-arrow-circle-left" aria-hidden="true"></span><span class="displayText">Log Out</span>
                        </NavLink>
                    </div>
                    <hr/>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="authors/">
                            <span class="oi oi-people" aria-hidden="true"></span><span class="displayText">Authors</span>
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="books/">
                            <span class="oi oi-book" aria-hidden="true"></span><span class="displayText">Books</span>
                        </NavLink>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="users/register">
                            <span class="oi oi-badge" aria-hidden="true"></span><span class="displayText">Register</span> 
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="users/login">
                            <span class="oi oi-account-login" aria-hidden="true"></span><span class="displayText">Login</span> 
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</div>


<style>
 .scroller {
         height: calc(100vh - 160px) !important;
         overflow-y: auto;
         width: 287px;
     }

         .scroller::-webkit-scrollbar, scrollbar-thumb
         .scroller::-webkit-scrollbar-thumb {
             width: 8px;
             height: 110px;
             border-radius: 4px;
             position: center;
         }

         .scroller::-webkit-scrollbar-thumb {
             box-shadow: inset 0 0 0 10px #313C75;
             border-radius: 4px;
         }

         .scroller::-webkit-scrollbar-track {
             width: 28px;
         }
     .separator {
         border: 1px solid #FFFFFF;
         opacity: 0.14;
         width: 247px;
         margin: 1rem;
         margin-top: 0px;
     }
</style>
